<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

Username:<p>{{ user.username }}</p>
Email confirmed: <p>{{ user.email_confirmation }}</p>

{% if user.is_authenticated %}
    <form action="/confirm/" method="POST">
        {{ confirm_form.as_p }}
        {% csrf_token %}
        <button>Confirm</button>
    </form>

{% endif %}
</body>
</html>
