<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/signup/" method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button>Signup</button>
</form>
</body>
</html>